
#PokemonInventoryPane(){
-fx-hgap: 20;
}

#paneInfo{
-fx-background-color: red;
}

#paneInfogp{
-fx-pref-width: 455;
-fx-background-color: yellow;
-fx-border-width: 5;
-fx-border-style: solid;
-fx-vgap: 10;
-fx-hgap: 5;

}

#paneImage{
-fx-background-color: black;
-fx-border-color: red;
-fx-border-style: dotted; 
}

#paneType{
-fx-vgap: 5;
}

#paneSize{
-fx-vgap: 5;
}

#panePercent{
-fx-hgap: 15; 
}

.slider{
-fx-show-tick-marks: true;
-fx-show-tick-labels: true;
-fx-pref-width: 200;

}

#Caught{
-fx-pref-width: 50;
}

#paneLists{
-fx-vgap: 30;

}

#fp{
-fx-alignment: center;
-fx-hgap: 20;
-fx-background-color: red;
}

#paneButtons{
-fx-alignment: center;
-fx-hgap: 20;

}

#paneBottomInfo{



}

#paneBottomInfogp{
-fx-background-color: red;
-fx-alignment: center;
-fx-vgap: 10;
}


#cFlow{
-fx-border-width: 5;
-fx-border-style: solid;
-fx-background-color: yellow;
-fx-pref-width: 100;
-fx-alignment: center;
-fx-border-style: solid;

}

#sFlow{
-fx-border-width: 5;
-fx-background-color: yellow;
-fx-pref-width: 100;
-fx-alignment: center;
-fx-border-style: solid;

}
